@using MaschinenDataein.Models.ModelView


<div class="container mt-4">
    <h1 class="mb-4 text-center">Temperaturdaten</h1>

    @model List<TemperaturdatenModelView>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["actionForm"] = "Index";
    ViewData["Title"] = "Temperatur";

    if (Model != null && Model.Count > 0) 
    
}
<


    @await Html.PartialAsync("_PartialFilter")
    @{ViewData["IsShowId"] = true;}
    @await Html.PartialAsync("_TemperaturdatenTable", Model)
</div>
